/.DS_Store
/evo_data
/__pycache__
/view.ipynb
/result
/evo_data.zip
/evaluation/__pycache__
/neu_metric/__pycache__
/deep
/deepl
/deepl.zip
/.gitingore
/data_v2
/result_v2
/data_v2.zip
/img
/job.slurm