.DS_Store
evo_data
__pycache__
result_legacy
evo_data.zip
evaluation/__pycache__
metric/__pycache__
deep
deepl/legacy
deepl.zip
.gitingore
data_v2
result_v2
data_v2.zip
img
job.slurm
view_of_RQ.ipynb
result
deepl/result
LDC/__pycache__
LDC/translation-files-new
LDC/amr-files
data
data.zip
